/* The global CSS for the style in the index.html
  or the style doesn't belong any component
*/

body {
  font-family: 'Roboto Slab', sans-serif;
  background: #F4E8E7;
}

.slogan {
  padding-left:7%;
  padding-top: 5%;
  font-family: 'Bellota';
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 15px;
  text-align: left;
  color: #6a6161;
  margin-bottom: 20px;
}

footer {
  display: inline-block;
  font-family: Bellota;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fffafa;
}

#info {
  padding-top: 20px;
}

#newsletter {
  align-items: center;
  padding-top: 20px;
  text-align: left;
}

.subscribe:hover {
  cursor: pointer;
}

img {
  opacity: 80%;
}

@media only screen and (max-width: 800px) {
  .slogan {
    padding-left:7%;
    padding-top: 5%;
    font-family: 'Bellota';
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 7px;
    text-align: left;
    color: #6a6161;
    margin-bottom: 20px;
  }
  
  #main-pic {
    padding: 0 5%;
  }

  #info {
    width: 100%;
  }
}