body, html {
  margin: 0;
}

#header-pic {
  padding: 0;
  margin: 0;
  border:0;
  width:100%;
}

.header {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.header-text-block {
  position: absolute;
  bottom: 50px;
  font-size: 3rem;
  z-index: 20;
  width: 1257px;
  height: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(255, 254, 254, 0.8);
}

.header-text {
  position: absolute;
  top: 16%;
  left: 113px;
  right: 19px;
  bottom: 158px;
  font-family: 'Bellota';
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #988686;
  line-height: 1.5;
}

@media only screen and (max-width: 800px) {

  .header-text-block {
    position: absolute;
    bottom: 40px;
    font-size: 3rem;
    z-index: 20;
    width: 320px;
    height: 70%;
    padding-top: 10%;
    background-color: rgba(255, 254, 254, 0.8);
  }

  .header-text {
    position: absolute;
    top: 20%;
    left: 20px;
    font-family: 'Bellota';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: #988686;
    line-height: 1.1;
    z-index: 100;
  }
}

