/* TODO: mobile size, the text will disappear */
body, html {
  margin: 0;
}

#header-pic {
  padding: 0;
  margin: 0;
  border:0;
  width:100%;
}

.header {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.header-text-block {
  position: absolute;
  bottom: 50px;
  font-size: 3rem;
  z-index: 20;
  width: 1257px;
  height: 800px;
  padding-top: 10%;
  background-color: rgba(255, 254, 254, 0.8);
}

.header-text {
  position: absolute;
  top: 190px;
  left: 70px;
  right: 19px;
  bottom: 237px;
  font-family: 'Bellota';
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #988686;
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {

  #header-pic {
    padding: 0;
    margin: 0;
    border:0;
    width:100%;
  }

  .header {
    position: relative;
    bottom-margin: 20px;
  }

  .header-text {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline;
    font-size: 2rem;
    color: white;
    z-index: 20;
  }
}

