body {
  font-family: 'Roboto Slab', sans-serif;
  background: #F4E8E7;
}

.introduction {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .introduction {
    text-align: justify;
  }
}