body {
  font-family: 'Roboto Slab', sans-serif;
  background: #F7F5EE;
}

.introduction {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .introduction {
    text-align: justify;
  }
}