body {
  font-family: 'Roboto Slab', sans-serif;
  background: #c7cce2b0;
}

.introduction {
  padding-right: 40px;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .introduction {
    padding-right: 40px;
    text-align: justify;
  }
}