.card {
  border: none;
  background-color: transparent;
  font-family: Bellota;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.card-title {
  padding: 0 5%;
  margin-bottom: 70px;
  font-family: 'Bellota';
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #3f3a3a;
}

@media only screen and (max-width: 600px) {
  .card {
    border: none;
    padding: 0 5%;
    background-color: transparent;
    font-family: Bellota;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  
  .information {
    margin-top: 10px;
  }
  
  .card-title {
    margin-bottom: 20px;
    text-align: center;
  }
}