/************************ bottom-left filters ************************/
#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 5%;
  width: 269px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Bellota';
}

#Live-Music {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  background-color: rgba(157, 172, 141, 0.88);
  color: #fffafa;
}

#Dining-Out {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  background-color: rgba(239, 180, 77, 0.88);
  color: #fffafa;
}
   
#menu a {
  font-size: 20px;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: left;
}
  
#menu a:last-child {
  border: none;
}
  
#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}
  
#menu a.active {
  background-color: white;
  color: black;
}
  
#menu a.active:hover {
  background: #ceda80;
}

.mapboxgl-ctrl-attrib a {
  display: none;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

@media only screen and (max-width: 800px) {

  #menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    bottom: 213px;
    font-size: 16px;
    left: 5%;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Bellota';
  }

  #menu a {
    font-size: 13px;
  }

  #map {
    height: 400px !important;
  }
}